/*Login & Admin Page Style*/
#login H1 A
{
	width: 450px;
	height: 200px;
	background-size: inherit;
}
#login {
		width: 450px;
	}

	#header-logo {
		background-image: url(https://s3.amazonaws.com/myct2/footer-logo-16px.png) !important;
	}

#login_error {width:80%;margin:0px auto 20px auto;}	
#login_error h1 { line-height:1.3}