/*Log Page*/
/*+clearfix {*/
#ip_logged_notice:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
#ip_logged_notice
{
    display: inline-block;
}
#ip_logged_notice
{
    /*\*/
    display: block;
    /**/
    -height: 1px;
}
/*+}*/
.block-box
{
    /*+placement:anchor-top-right 15px 5px;*/
    position: absolute;
    right: 15px;
    top: 5px;
    border: 1px solid #F9F9F9;
    padding: 0;
}
#whitelist.block-box
{
    /*+placement:anchor-top-right 203px 5px;*/
    position: absolute;
    right: 203px;
    top: 5px;
}
.block-box FORM
{
    padding: 5px;
}
.block-box H3
{
    line-height: 1;
    margin: 0 0 5px;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
    background: #F1F1F1;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ececec), to(#f9f9f9));
    background-image: -webkit-linear-gradient(bottom, #ececec, #f9f9f9);
    background-image: -moz-linear-gradient(bottom, #ececec, #f9f9f9);
    background-image: -o-linear-gradient(bottom, #ececec, #f9f9f9);
    background-image: linear-gradient(to top, #ececec, #f9f9f9);
}
/*Login & Admin Page Style*/
#login H1 A
{
    width: 450px;
    height: 200px;
    background-size: inherit;
    background-image: url(header.png);
    /*+placement:margin-auto 0px 0px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0px;
    top: 0px;
}
#login
{
    width: 550px;
}
#header-logo
{
    background-image: url(https://s3.amazonaws.com/myct2/footer-logo-16px.png) !important;
}
#icon-byct_log, #icon-byct_settings
{
    background-image: url(screen_icons.png);
}
#icon-byct_log
{
    background-position: -7px -6px;
}
#icon-byct_settings
{
    background-position: -68px -6px;
}
#login_error
{
    width: 96%;
    margin: 0px auto 20px;
}
#login_error H2
{
    line-height: 1.3;
    font-size: 16pt;
}
#lockdown H1
{
    color: #000000;
}
#lockdown
{
    background-color: #FFEFEF;
    text-align: center;
    padding: 20px;
    border: 4px double #FF0000;
    min-width: 320px;
}
#lockdown #recaptcha_widget_div
{
    margin: 0px auto;
    width: 318px;
}
#error-page
{
    min-width: 320px;
}
#reset_log .warning:before
{
    content: 'WARNING: This is your current IP';
    display: block;
}
#reset_log .warning
{
    background-color: #FFDDDD;
}
/**
*     Login page notices
 */
.byct_lockdown
{
    color: #000;
    font-size: 10pt;
    text-align: center;
}
H2.byct_lockdown
{
    font-size: 12pt;
}
/*[clearfix]*/#ip_logged_notice
{
    font-size: 8pt;
    width: 90%;
    /*+placement:margin-auto 0px 0px;*/
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#ip_logged_notice .ip_logged
{
    /*+placement:float-left 11px 0px;*/
    float: left;
    position: relative;
    left: 11px;
    top: 0px;
    width: 44%;
    height: 100%;
    margin-top: 7px;
}
#ip_logged_notice .notice
{
    width: 50%;
    /*+placement:float-right 0px 0px;*/
    float: right;
    position: relative;
    left: 0px;
    top: 0px;
    color: #696969;
    font-style: italic;
}
#backtoblog A
{
    font-size: 10pt;
    display: block;
    margin-left: -20px;
    text-decoration: none;
}
#login #nav A
{
    font-size: 10pt;
    text-decoration: none;
}
#ip_logged_notice .ip_logged
{
    height: 100%;
    display: block;
}
#lockdown INPUT:disabled
{
    background-color: #FFFFFF;
    background-image: none;
}
#lockdown INPUT:disabled, .disabled
{
    cursor: wait;
}
#lockdown INPUT.button
{
    margin-top: 20px;
}
.byct_tooltip
{
    display: inline;
    position: relative;
}
.byct_tooltip:hover:after
{
    background: #333;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    bottom: 26px;
    color: #FFF;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.byct_messages {
    width: 350px;
    position: absolute;
    opacity: 1;
    top: 6px;
    left: 40px;
}
.form-table td.label {
    text-align: right;
}
h2 sup {
    font-size: 8pt;
}
.widefat .ip
{
    width: 150px;
    text-align: right;
}
.byct_tooltip:hover:before
{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
@media screen and (max-width: 480px)
{
    #loginform {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 10px;
        left: 5px;
    }
    #login H1 A {
        width: 320px;
    }
    #login {
        padding-top: 20px;
    }
}
@media screen and (max-width: 640px)
{
    body.login {
        min-width: 330px;
    }
    #login {
        width: 100%;
        max-width: 450px;
    }
    #loginform {
        padding-left: 10px;
        padding-right: 10px;
    }
    #login H1 A {
        background-image: url(header-mobile.png);
        height: 120px;
    }
}
@media screen and (max-width: 640px) and (min-resolution: 120dpi),
(-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 15/10),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
    #login H1 A {
        background-image: url(header-mobile2x.png);
        height: 120px;
        background-size: 320px 114px;
    }
}
@media screen and (min-width: 768px) and (min-resolution: 120dpi),
(-webkit-min-device-pixel-ratio: 1.5),
(min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 15/10),
(min-device-pixel-ratio: 1.5),
(min-resolution: 1.5dppx) {
    #login H1 A {
        background-image: url(header2x.png);
        background-size: 450px 160px;
        height: 160px;
    }
}
